

.center-container {
    display: flex;
    justify-content: center;
}


.border-container {
    border: 2px solid #140b47; /* Apply border to the border-container */
    border-radius: 10px;
    width: 320px; /* Adjust the width as needed */
    position: relative;
    z-index: 1;
}
.digital-clock-container {
    display: inline-block; /* To fit the content size */
    padding: 10px;
    border: 2px solid #140b47;
    border-radius: 10px;
    width: 320px; /* Adjust the width as needed */
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.digital-clock {
    font-size: 36px;
    color: #140b47; /* Corrected the text-color property */
    text-align: center;
}

.seconds {
    font-size: 18px;
    color: #140b47; /* Corrected the Text-color property */
    text-align: center;
}

.time2 {
    font-size: 22px;
    color: #140b47; /* Corrected the Text-color property */
    text-align: center;

}


